/* Esconde a barra de rolagem dos carrosséis mas mantém a funcionalidade */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Transições suaves para os cards */
.group {
    backface-visibility: hidden;
    will-change: transform;
}